.main-btn:disabled{
    background: #044d3291;
    color: #707070;
}
.main-btn{
    margin-left: 20px;
}
.form-margins{
    margin-right: 60%;
}
.card-width{
    max-width: 800px;
}

#table-bg{
    background-position-x: center;
}