<div *ngIf="this.page==1" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class="info-box shadow">
                <h1 class="bigger d-flex justify-content-center ex-font">Personal Details</h1>
                 <h2 class="ex-font">Hospital</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.Hospital}}</mat-label>
                </div>
                 <h2 class="ex-font">First Name</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.fullName}}</mat-label>
                </div>
                 <h2 class="ex-font">Age</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.Age}}</mat-label>
                </div>
                 <h2 class="ex-font">Gender</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.Gender}}</mat-label>
                </div>
                 <h2 class="ex-font">Nationality</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.Nationality}}</mat-label>
                </div>
                 <h2 class="ex-font">National ID</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.n_ID}}</mat-label>
                </div>
                 <h2 class="ex-font">Contact Number</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.contactInfo}}</mat-label>
                </div>
                 <h2 class="ex-font">Height</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.Height}}</mat-label>
                </div>
                 <h2 class="ex-font">Blood Group</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.bldGrp}}</mat-label>
                </div>
                 <h2 class="ex-font">Known Allergies</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.kAllergies}}</mat-label>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>



<div *ngIf="this.page==2" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class=" info-box shadow">
                <h1 class="bigger d-flex justify-content-center ex-font">Medical and Surgical History</h1>
                 <h2 class="ex-font">Start of Dialysis</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.dofDialysis}}</mat-label>
                </div>
                 <h2 class="ex-font">Original Kidney Disease</h2>
                <div class="d-flex justify-content-center">
                    <mat-label *ngIf="this.currPatient.oKidneyDisease != 'Other'" class=" input input-border">
                        {{this.currPatient.oKidneyDisease}}</mat-label>
                    <mat-label class=" input input-border">{{this.currPatient.otherKD}}</mat-label>
                </div>
                 <h2 class="ex-font">Surgical History</h2>
                <div class="d-flex justify-content-between">
                    <mat-label class="shorter   input input-border">
                        {{this.currPatient.surgHist1}}</mat-label>
                    <mat-label class="shorter   input input-border">{{this.currPatient.surgHist2}}</mat-label>
                </div>
                 <h2 class="ex-font">Co-Moribidities</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label *ngIf="this.currPatient.morbHype">Hypertension</mat-label>
                        <div *ngIf="this.currPatient.morbDM">
                            <mat-label> <br><br> Diabetes Mellitus</mat-label>
                        </div>
                        <div *ngIf="this.currPatient.morbEpi">
                            <mat-label> <br><br> Epilepsy</mat-label>
                        </div>
                        <div *ngIf="this.currPatient.coMorbOther">
                            <mat-label> <br><br> {{this.currPatient.coMorbOther}}
                            </mat-label>
                        </div>
                    </div>
                </div>
                 <h2 class="ex-font">Previous Transplantation</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label>{{this.currPatient.previousTr}}</mat-label>
                        <mat-label *ngIf="this.currPatient.previousTr=='Yes'">, &nbsp; {{this.currPatient.prevTrGS}}
                        </mat-label>
                    </div>
                </div>
                 <h2 class="ex-font">Fit For Transplantation</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label>{{this.currPatient.fitForTr}}</mat-label>
                        <mat-label *ngIf="this.currPatient.fitForTr=='No'">, &nbsp; {{this.currPatient.fitForTrReason}}
                        </mat-label>
                    </div>
                </div>
                 <h2 class="ex-font">Potential Relative Donors</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.potentialRDonors}}</mat-label>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>

<div *ngIf="this.page==3" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class="info-box shadow">
                <h1 class="bigger d-flex justify-content-center ex-font">Vascular Access</h1>
                 <h2 class="ex-font">Current Access</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">
                        {{this.currPatient.currentAccess1}} {{this.currPatient.currentAccess2}}
                        {{this.currPatient.currentAccess3}}</mat-label>
                </div>
                 <h2 class="ex-font">Date of Access Creation</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.dofAC}}</mat-label>
                </div>
                 <h2 class="ex-font">Complications</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <div *ngIf="this.currPatient.compInsuf">
                            <mat-label>Insufficiency </mat-label> <br><br>
                        </div>
                        <div *ngIf="this.currPatient.compInf">
                            <mat-label> Infection </mat-label> <br><br>
                        </div>
                        <div *ngIf="this.currPatient.compAD">
                            <mat-label> Aneurysmal Dilatation </mat-label> <br><br>
                        </div>
                        <div *ngIf="this.currPatient.compDC">
                            <mat-label> Difficult Cannulation</mat-label>
                        </div>
                        <mat-label *ngIf="this.currPatient.compOther"> <br><br> {{this.currPatient.compOther}}
                        </mat-label>
                    </div>
                </div>
                 <h2 class="ex-font">Previous Access(es)</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label *ngIf="this.currPatient.previousAccess1"> 1 - {{this.currPatient.previousAccess1}}
                        </mat-label>
                        <mat-label *ngIf="this.currPatient.previousAccess2"> <br> <br> 2 -
                            {{this.currPatient.previousAccess2}}
                        </mat-label>
                        <mat-label *ngIf="this.currPatient.previousAccess3"> <br> <br> 3 -
                            {{this.currPatient.previousAccess3}}
                        </mat-label>
                        <mat-label *ngIf="this.currPatient.previousAccess4"> <br> <br> 4 -
                            {{this.currPatient.previousAccess4}}
                        </mat-label>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>
<div *ngIf="this.page==4" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class="info-box shadow">
                <h1 class="bigger d-flex justify-content-center ex-font">Dialysis Prescription</h1>
                 <h2 class="ex-font">Frequency</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class="input input-border">{{this.currPatient.Frequency}} sessions/week</mat-label>
                </div>
                 <h2 class="ex-font">Duration</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class="input input-border">{{this.currPatient.Duration}} hr(s)/session</mat-label>
                </div>
                 <h2 class="ex-font">Dialyser</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class="input input-border">{{this.currPatient.Dialyser}}</mat-label>
                </div>
                 <h2 class="ex-font">Anticoagulation</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label>{{this.currPatient.antiCoagulation}}</mat-label>
                        <mat-label *ngIf="this.currPatient.antiCoagulation=='Heparin'"> <br><br> Initial:
                            {{this.currPatient.hInit}}</mat-label>
                        <mat-label *ngIf="this.currPatient.antiCoagulation=='Heparin'"> <br><br> Maintenance:
                            {{this.currPatient.hMaint}}</mat-label>
                        <mat-label *ngIf="this.currPatient.antiCoagulation=='LMWH'"> <br><br> Dosage:
                            {{this.currPatient.LMWHval}}</mat-label>
                        <mat-label *ngIf="this.currPatient.antiCoagulation=='No'"> <br><br> Reason:
                            {{this.currPatient.hInit}}</mat-label>
                    </div>
                </div>
                 <h2 class="ex-font">Dry Weight</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.dryWt}} kg</mat-label>
                </div>
                 <h2 class="ex-font">Average Weight Gain</h2>
                <div class="input d-flex justify-content-center">
                    <mat-label class="input-border">{{this.currPatient.avgWtGain}} (between sessions)</mat-label>
                </div>
                 <h2 class="ex-font">Average Blood Pressure</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.avgBP}}</mat-label>
                </div>
                 <h2 class="ex-font">Average Pulse</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class=" input input-border">{{this.currPatient.avgBP}}</mat-label>
                </div>
                 <h2 class="ex-font">Dialysis Complications</h2>
                <div class="d-flex justify-content-center">
                    <div class="input input-border">
                        <mat-label *ngIf="this.currPatient.dCompHead"> - Headache</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompHG"> &nbsp;&nbsp; - Hypoglycemia</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompHOT"> &nbsp;&nbsp; - Hypotension</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompHET"> &nbsp;&nbsp; - Hypertension</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompMC"> &nbsp;&nbsp; - Muscle Cramps</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompAC"> &nbsp;&nbsp; - Abdominal Colic</mat-label>
                        <br><br>
                        <mat-label *ngIf="this.currPatient.dCompVom"> - Vomiting</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompSZ"> &nbsp;&nbsp; - Seizure</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompHS"> &nbsp;&nbsp; - Hypersensitivity</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompIt"> &nbsp;&nbsp; - Itching</mat-label>
                        <mat-label *ngIf="this.currPatient.dCompOther"> &nbsp;&nbsp; - {{this.currPatient.dCompOther}}
                        </mat-label>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>




<div *ngIf="this.page==5" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class=" info-box shadow">
                <h1 class="bigger d-flex justify-content-center ex-font">Lab Results (Date: {{this.dofLab}})</h1>
                 <h2 class="ex-font">CBC:</h2>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">HB:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.cbcHB}}
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">WBC:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.cbcWBC}}
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">Platelets:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.cbcPlatelets}}
                            </mat-label>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                 <h2 class="ex-font">Coagulation Profile:</h2>
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">PT:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.coagPT}} sec
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">PTT:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.coagPPT}} sec
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">INR:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.coagINR}}
                            </mat-label>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                 <h2 class="ex-font">Chemistry:</h2>
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <h3 class="lab-headings">S.&nbsp;Creatinine&nbsp;Pre-HD:</h3>
                            <mat-label class="margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemCrePre}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class="lab-headings">S.&nbsp;Creatinine&nbsp;Post-HD:</h3>
                            <mat-label class="margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemCrePost}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" lab-headings">S.&nbsp;Potassium:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemPot}} mmoL/L</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" lab-headings">S.&nbsp;Magnesium:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemMag}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class="lab-headings">ALT:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemALT}} U/L</mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">S.&nbsp;Urea&nbsp;Pre-HD:</h3>
                            <!--2nd column start-->
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemUreaPre}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">S.&nbsp;Urea&nbsp;Post-HD:</h3>
                            <!--2nd column start-->
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemUreaPost}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">S.&nbsp;Calcium:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemCal}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">S.&nbsp;Albumin:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemAlb}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">Alk.&nbsp;Phosphatase:</h3>
                            <mat-label class="margin-left-field    input input-border lab-fields">
                                {{this.currPatient.chemPhos}} U/L</mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <h3 class=" margin-left-field lab-headings">S.&nbsp;Sodium:</h3>
                            <!---3rd column start-->
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemSod}} mmoL/L</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class="margin-left-field lab-headings">S.&nbsp;Phosphorus:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemPhos}} mg%</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class="margin-left-field lab-headings">AST:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemAST}} U/L</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                            <h3 class="margin-left-field lab-headings">Other:</h3>
                            <mat-label class=" margin-left-field   input input-border lab-fields">
                                {{this.currPatient.chemOther}}</mat-label>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                 <h2 class="ex-font">Iron Profile:</h2>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">S.&nbsp;Iron:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.Siron}} umol/L
                            </mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">TIBC:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.TIBC}} umol/L
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">S.&nbsp;Ferritin:</h3>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.Sferitin}} ng/mL
                            </mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">TSAT:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.TSAT}} %
                            </mat-label>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                 <h2 class="ex-font">Hormones:</h2>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">PTH:</h3>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.hormPTH}} Pmol/L
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">Vitamin&nbsp;D:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hormVITD}}
                                ng/L
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">Other:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hormOther}}
                            </mat-label>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                 <h2 class="ex-font">Serology:</h2>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">HBs&nbsp;Ag:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hbsAg}}
                            </mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">HCV&nbsp;Ab:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hcvAb}}
                            </mat-label>
                        </div>
                        <div *ngIf="this.currPatient.hcvAb=='Positive'" class="d-flex flex-row">
                             <h3 class="ex-font">HCV&nbsp;RNA&nbsp;PCR:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hcvPCR}}
                            </mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">HIV&nbsp;I&nbsp;&&nbsp;II:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.hivI_II}}
                            </mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h3 class="ex-font">Other:</h3>
                            <mat-label class=" margin-left-field   input input-border">{{this.currPatient.othrSer}}
                            </mat-label>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page5">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>






<div *ngIf="this.page==6" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class=" info-box shadow">
                <div class="d-flex justify-content-center">
                    <h1 class="bigger">Current Medication</h1>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD1">
                            <h2 class="heading-margin">Medication&nbsp;1</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD1}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD3">
                            <h2 class="heading-margin">Medication&nbsp;3</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD3}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD5">
                            <h2 class="heading-margin">Medication&nbsp;5</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD5}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD7">
                            <h2 class="heading-margin">Medication&nbsp;7</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD7}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD9">
                            <h2 class="heading-margin">Medication&nbsp;9</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD9}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD11">
                            <h2 class="heading-margin">Medication&nbsp;11</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD11}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD13">
                            <h2 class="heading-margin">Medication&nbsp;13</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD13}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD15">
                            <h2 class="heading-margin">Medication&nbsp;15</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD15}}</mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD2">
                            <h2 class="heading-margin">Medication&nbsp;2</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD2}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD4">
                            <h2 class="heading-margin">Medication&nbsp;4</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD4}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD6">
                            <h2 class="heading-margin">Medication&nbsp;6</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD6}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD8">
                            <h2 class="heading-margin">Medication&nbsp;8</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD8}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD10">
                            <h2 class="heading-margin">Medication&nbsp;10</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD10}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD12">
                            <h2 class="heading-margin">Medication&nbsp;12</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD12}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD14">
                            <h2 class="heading-margin">Medication&nbsp;14</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD14}}</mat-label>
                        </div>
                        <div class="d-flex flex-row" *ngIf="this.currPatient.cMD16">
                            <h2 class="heading-margin">Medication&nbsp;16</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.cMD16}}</mat-label>
                        </div>
                    </div>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br><br>
                <div class="d-flex flex-row justify-content-around">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h2 class="ex-font">Hepatitus&nbsp;B&nbsp;Vaccination:</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.HepBV}}</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h2 class="ex-font">Vaccination&nbsp;Date:</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.dOfHepBV}}</mat-label>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                             <h2 class="ex-font">Influenza&nbsp;Vaccination:</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.currPatient.InfV}}</mat-label>
                        </div>
                        <div class="d-flex flex-row">
                             <h2 class="ex-font">Vaccination&nbsp;Date:</h2>
                            <mat-label class="margin-left-field   input input-border">{{this.dOfInfV}}</mat-label>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.currPatient.otherVAC">
                     <h2 class="ex-font">Other Vaccination:</h2>
                    <div class="d-flex justify-content-center">
                        <mat-label class=" input input-border">{{this.currPatient.otherVAC}}</mat-label>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>




<div *ngIf="this.page==7" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class=" info-box shadow">
                <h2 class="bigger d-flex justify-content-center">Dr Progress Notes</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class="notes   input input-border max-width">{{this.currPatient.progNotes}}</mat-label>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>



<div *ngIf="this.page==8" id="con">
    <div id="content">
        <div class="d-flex justify-content-center">
            <mat-card id="profileform-bg" class=" info-box shadow">
                <h2 class="bigger d-flex justify-content-center">Consultant Notes</h2>
                <div class="d-flex justify-content-center">
                    <mat-label class="notes   input input-border max-width">{{this.currPatient.consNotes}}</mat-label>
                </div>
            </mat-card>
        </div>
    </div>
    <div id="footer-page1">
        <div class="d-flex flex-row justify-content-center">
            <button mat-button class="nav-btn" (click)=prevPage() [disabled]="this.pagePreviousDisabled">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <p class="page-num">{{this.page}}</p>
            <button mat-button class="nav-btn" (click)=nextPage() [disabled]="this.pageNextDisabled">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>