.login-btn{
    width: 175px;
    height: 50px;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;

}
.alert-pop{
    margin-bottom: 20px;
    max-width: 100%;
}
.form{
    width: 500px;
    display: block;
}
.login-container{
    width: 500px;
    max-height: 400px;
    margin-top: 10%;
}
.login-input{
    display: flex;
    margin-top: 40px;
    width: 400px;
    margin-left: 10%;
    display: inline-block;
}