<div *ngIf="isUserAuthorized()">
    <br>
    <mat-card class="shadow">
        <form [formGroup]="updateForm" class="update-form">
            <mat-horizontal-stepper id="form-bg" [linear]=false #stepper>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Patient Personal Details</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field class="inputfield ex-font" *ngIf="this.currUser.isAdmin">
                        <mat-select placeholder="Hospital" formControlName="Hospital" #Hospital>
                            <mat-option class="ex-font" *ngFor="let hospital of hospList"
                                value="{{hospital.hospitalName}}">
                                {{hospital.hospitalName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Full Name" formControlName="fullName" #fullName>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Full Name (Arabic)" formControlName="fullNameAr" #fullNameAr>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select placeholder="Gender" formControlName="Gender" #Gender>
                            <mat-option class="ex-font" value="Male">Male</mat-option>
                            <mat-option class="ex-font" value="Female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Age" formControlName="Age" #Age>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select placeholder="Nationality" formControlName="Nationality" #Nationality>
                            <mat-option class="ex-font" *ngFor="let country of countryList" value="{{country}}">
                                {{country}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="National ID" formControlName="n_ID" #n_ID>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Contact Number (+966)" formControlName="contactInfo" #contactInfo>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Blood Group" formControlName="bldGrp" #bldGrp>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Height (cm)" formControlName="Height" #Height>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Known Allergies" formControlName="kAllergies" #kAllergies>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Submitted By" formControlName="submittedBy" #submittedBy>
                    </mat-form-field>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <br><br>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Medical and Surgical History</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Start of Dialysis</mat-label>
                        <input matInput [matDatepicker]="dosDialysis" formControlName="dosDialysis">
                        <mat-datepicker-toggle matSuffix [for]="dosDialysis"></mat-datepicker-toggle>
                        <mat-datepicker #dosDialysis></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select class="ex-font" name="oKidneyDisease" placeholder="Original Kidney Disease"
                            formControlName="oKidneyDisease" #oKidneyDisease>
                            <mat-option class="ex-font" value="Unknown">Unknown</mat-option>
                            <mat-option class="ex-font" value="Hypertensive Nephrosclerosis">Hypertensive
                                Nephrosclerosis</mat-option>
                            <mat-option class="ex-font" value="Diabetic Nephropathy">Diabetic Nephropathy</mat-option>
                            <mat-option class="ex-font" value="Obstructive Nephropathy">Obstructive Nephropathy
                            </mat-option>
                            <mat-option class="ex-font" value="ADPKD">ADPKD</mat-option>
                            <mat-option class="ex-font" value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="this.updateForm.controls.oKidneyDisease.value == 'Other'"
                        class="inputfield ex-font">
                        <input matInput placeholder="Specified Disease" formControlName="otherKD" #otherKD>
                    </mat-form-field>
                    <br>
                    <div>
                        <h3 class="heading ex-font">Co-Morbidities:</h3>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="cMorbDM"
                            (change)="cMorbDM = !cMorbDM">Diabetes
                            Mellitus</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="cMorbHyp"
                            (change)="cMorbHyp = !cMorbHyp">
                            Hypertension</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="cMorbIHD"
                            (change)="cMorbIHD = !cMorbIHD">IHD
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="cMorbE"
                            (change)="cMorbE = !cMorbE">Epilepsy
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before"
                            [checked]="SelectedCMorbOther" (change)="SelectedCMorbOther = !SelectedCMorbOther">Other
                        </mat-checkbox>
                        <br>
                        <mat-form-field class="inputfield ex-font" *ngIf="SelectedCMorbOther">
                            <input matInput placeholder="Other Co-Morbidities" formControlName="coMorbidityOther"
                                #coMorbidityOther>
                        </mat-form-field>
                    </div>
                    <h3 class="heading ex-font">Surgical History:</h3>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="surgHist1" #surgHist1>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="surgHist2" #surgHist1>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="previousTr" placeholder="Previous Transplantation"
                            formControlName="previousTr" #previousTr>
                            <mat-option class="ex-font" value="No">No</mat-option>
                            <mat-option class="ex-font" value="Yes">Yes (Graft Survival)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="this.updateForm.controls.previousTr.value == 'Yes'">
                        <input matInput placeholder="Graft Survival" formControlName="prevTrGS" #prevTrGS>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="fitForTr" placeholder="Fit for Transplantation" formControlName="fitForTr"
                            #fitForTr>
                            <mat-option class="ex-font" value="Yes">Yes</mat-option>
                            <mat-option class="ex-font" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="this.updateForm.controls.fitForTr.value == 'No'"
                        class="hiddeninputfield ex-font">
                        <input matInput placeholder="Reason" formControlName="fitForTrReason" #fitForReason>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="potentialRDonors" placeholder="Potential Relative Donors"
                            formControlName="potentialRDonors" #potentialRDonors>
                            <mat-option class="ex-font" value="Yes">Yes</mat-option>
                            <mat-option class="ex-font" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>

                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Vascular Access</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <h3 class="heading ex-font">Current Access:</h3>
                    <div class="d-flex justify-content-between">
                        <mat-form-field class="currentAcc">
                            <mat-select name="currentAccess1" formControlName="currentAccess1" #currentAccess1>
                                <mat-option class="ex-font" value="RT.">RT.</mat-option>
                                <mat-option class="ex-font" value="LT.">LT.</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="currentAcc">
                            <mat-select name="currentAccess2" formControlName="currentAccess2" #currentAccess2>
                                <mat-option class="ex-font" value="AVF">AVF</mat-option>
                                <mat-option class="ex-font" value="AVG">AVG</mat-option>
                                <mat-option class="ex-font" value="Permcath">Permcath</mat-option>
                                <mat-option class="ex-font" value="Temp.cath">Temp.cath</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="currentAcc" *ngIf="this.updateForm.controls.currentAccess2.value">
                            <mat-select name="currentAccess3" formControlName="currentAccess3" #currentAccess3>
                                <mat-option class="ex-font"
                                    *ngIf="this.updateForm.controls.currentAccess2.value=='AVF' || this.updateForm.controls.currentAccess2.value=='AVG'"
                                    value="Radio-ulnar">Radio-ulnar</mat-option>
                                <mat-option class="ex-font"
                                    *ngIf="this.updateForm.controls.currentAccess2.value=='AVF' || this.updateForm.controls.currentAccess2.value=='AVG'"
                                    value="Radio-cephalic">Radio-cephalic</mat-option>
                                <mat-option class="ex-font" value="Femoral">Femoral</mat-option>
                                <mat-option class="ex-font"
                                    *ngIf="this.updateForm.controls.currentAccess2.value =='Permcath' || this.updateForm.controls.currentAccess2.value == 'Temp.cath'"
                                    value="Int. Jugular">Int. Jugular</mat-option>
                                <mat-option class="ex-font"
                                    *ngIf="this.updateForm.controls.currentAccess2.value=='Permcath' || this.updateForm.controls.currentAccess2.value=='Temp.cath'"
                                    value="Subclavian">Subclavian</mat-option>
                                <mat-option class="ex-font"
                                    *ngIf="this.updateForm.controls.currentAccess2.value=='Permcath' || this.updateForm.controls.currentAccess2.value=='Temp.cath'"
                                    value="Transhepatic">Transhepatic</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Date of Access Creation</mat-label>
                        <input matInput [matDatepicker]="dOfAccessCreation" formControlName="dOfAccessCreation">
                        <mat-datepicker-toggle matSuffix [for]="dOfAccessCreation"></mat-datepicker-toggle>
                        <mat-datepicker #dOfAccessCreation></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <div>
                        <h3 class="heading ex-font">Complications:</h3>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="CompIns"
                            (change)="CompIns = !CompIns">
                            Insufficiency</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="CompInf"
                            (change)="CompInf = !CompInf">Infection
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="CompAD"
                            (change)="CompAD = !CompAD">Aneurysmal
                            Dilatation</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="CompDC"
                            (change)="CompDC = !CompDC">Difficult
                            Cannulation</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="SelectedCompOther"
                            (change)="SelectedCompOther = !SelectedCompOther">Other</mat-checkbox>
                        <br>
                        <mat-form-field *ngIf="SelectedCompOther">
                            <input matInput placeholder="Other Complications" formControlName="ComplicationOther"
                                #ComplicationOther>
                        </mat-form-field>
                    </div>
                    <br>
                    <h3 class="heading ex-font">Previous Access(es):</h3>
                    <mat-divider></mat-divider>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="previousAccess1" #previousAccess1>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="previousAccess2" #previousAccess2>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="previousAccess3" #previousAccess3>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput formControlName="previousAccess4" #previousAccess4>
                    </mat-form-field>
                    <br><br>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Dialysis Prescription</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Frequency (sessions/week)" formControlName="Frequency" #Frequency>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Duration (hrs/session)" formControlName="Duration" #Duration>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Dialyser" formControlName="Dialyser" #Dialyser>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="antiCoagulation" placeholder="Anticoagulation" formControlName="antiCoag"
                            #antiCoag>
                            <mat-option class="ex-font" value="Heparin">Yes (Heparin)</mat-option>
                            <mat-option class="ex-font" value="LMWH">Yes (LMWH)</mat-option>
                            <mat-option class="ex-font" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font"
                        *ngIf="this.updateForm.controls.antiCoag.value == 'Heparin'">
                        <input matInput placeholder="Initial" formControlName="hInit" #hInit>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font"
                        *ngIf="this.updateForm.controls.antiCoag.value == 'Heparin'">
                        <input matInput placeholder="Maintenance" formControlName="hMaint" #hMaint>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font"
                        *ngIf="this.updateForm.controls.antiCoag.value == 'LMWH'">
                        <input matInput placeholder="LMWH Dosage" formControlName="LMWHval" #LMWHval>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font" *ngIf="this.updateForm.controls.antiCoag.value == 'No'">
                        <input matInput placeholder="Reason" formControlName="antiCoReason" #antiCoReason>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Dry Weight (kg)" formControlName="dryWt" #dryWt>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Average Weight Gain (kg)" formControlName="avgWtGain" #avgWtGain>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Average Blood Pressure" formControlName="avgBP" #avgBP>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Average Pulse" formControlName="avgPulse" #avgBP>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Dialysis Adequacy (Kt/V)" formControlName="dialAdeq" #dialAdeq>
                    </mat-form-field>
                    <br><br>
                    <div>
                        <h3 class="heading ex-font">Dialysis Complications:</h3>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCHA"
                            (change)="DCHA = !DCHA">Headache
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCHypot"
                            (change)="DCHypot = !DCHypot">
                            Hypotension</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCHypog"
                            (change)="DCHypog = !DCHypog">
                            Hypoglycemia</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCHyper"
                            (change)="DCHyper = !DCHyper">
                            Hypertension</mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCMC"
                            (change)="DCMC = !DCMC">Muscle Cramps
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCAC"
                            (change)="DCAC = !DCAC">Abdominal Colic
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCV"
                            (change)="DCV = !DCV">Vomiting
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCSZ"
                            (change)="DCSZ = !DCSZ">Seizure
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCHS"
                            (change)="DCHS = !DCHS">Hypersensitivity
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="DCIH"
                            (change)="DCIH = !DCIH">Itching
                        </mat-checkbox>
                        <br>
                        <mat-checkbox class="checkbox-font ex-font" labelPosition="before" [checked]="SelectedDCOther"
                            (change)="SelectedDCOther = !SelectedDCOther">
                            Other</mat-checkbox>
                        <br>
                        <mat-form-field *ngIf="SelectedDCOther">
                            <input matInput placeholder="Other Dialysis Complications" formControlName="dCompOther"
                                #dCompOther>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Lab Results</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Lab Results Date</mat-label>
                            <input matInput [matDatepicker]="labDate" formControlName="labDate">
                            <mat-datepicker-toggle matSuffix [for]="labDate"></mat-datepicker-toggle>
                            <mat-datepicker #labDate></mat-datepicker>
                        </mat-form-field>
                        <h3>CBC:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="HB (g/dl)" formControlName="cbcHB" #cbcHB>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="WBC" formControlName="cbcWBC" #cbcWBC>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Platelets" formControlName="cbcPlatelets" #cbcPlatelets>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <h3 class="heading ex-font">Chemistry:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Creatinine Pre-HD (mg%)" formControlName="chemCrePre"
                                #chemCrePre>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Creatinine Post-HD (mg%)" formControlName="chemCrePost"
                                #chemCrePost>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Urea Pre-HD (mg%)" formControlName="chemUreaPre"
                                #chemUreaPre>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Urea Post-HD (mg%)" formControlName="chemUreaPost"
                                #chemUreaPost>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Sodium (mmoL/L)" formControlName="chemSod" #chemSod>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Potassium (mmoL/L)" formControlName="chemPot" #chemSod>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Calcium (mg%)" formControlName="chemCal" #chemSod>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Phosphorus (mg%)" formControlName="chemPhos" #chemPhos>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Magnesium (mg%)" formControlName="chemMag" #chemMag>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Albumin (mg%)" formControlName="chemAlb" #chemAlb>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="AST (U/L)" formControlName="chemAST" #chemAST>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="ALT (U/L)" formControlName="chemALT" #chemALT>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Alk. Phosphatase (U/L)" formControlName="chemAlph" #chemAlph>
                        </mat-form-field>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Other" formControlName="chemOther" #chemOther>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3 class="heading ex-font">Serology:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <mat-select name="hbsAg" placeholder="HBs Ag" formControlName="hbsAg" #hbsAg>
                                <mat-option class="ex-font" value="Positive">Positive</mat-option>
                                <mat-option class="ex-font" value="Negative">Negative</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <mat-select name="hcvAb" placeholder="HCV Ab" formControlName="hcvAb" #hcvAb>
                                <mat-option class="ex-font" value="Positive">Positive</mat-option>
                                <mat-option class="ex-font" value="Negative">Negative</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="this.updateForm.controls.hcvAb.value=='Positive'"
                            class="inputfield ex-font">
                            <input matInput placeholder="HCV RNA PCR" formControlName="hcvPCR" #hcvPCR>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <mat-select name="hivI_II" placeholder="HIV I & II" formControlName="hivI_II" #hivI_II>
                                <mat-option class="ex-font" value="Positive">Positive</mat-option>
                                <mat-option class="ex-font" value="Negative">Negative</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Other" formControlName="otherSer" #otherSer>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3 class="heading ex-font">Iron Profile:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Iron (umol/L)" formControlName="Siron" #Siron>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="S. Ferritin (ng/mL)" formControlName="Sferitin" #Sferitin>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="TIBC (umol/L)" formControlName="TIBC" #TIBC>
                        </mat-form-field>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="TSAT (%)" formControlName="TSAT" #TSAT>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3 class="heading ex-font">Coagulation Profile:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="PT (sec)" formControlName="coagPT" #coagPT>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="PTT (sec)" formControlName="coagPPT" #coagPPT>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="INR" formControlName="coagINR" #coagINR>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <h3 class="heading ex-font">Hormones:</h3>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="PTH (Pmol/L)" formControlName="hormPTH" #hormPTH>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Vitamin D (ng/L)" formControlName="hormVITD" #hormVITD>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="inputfield ex-font">
                            <input matInput placeholder="Other" formControlName="hormOther" #hormOther>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <mat-divider></mat-divider>
                    <br>
                    <ng-template matStepLabel class="ex-font">Current Medications</ng-template>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 1" formControlName="cMD1" #cMD1>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="2" formControlName="cMD2" #cM2>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="3" formControlName="cMD3" #cMD3>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 4" formControlName="cMD4" #cMD4>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 5" formControlName="cMD5" #cMD5>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 6" formControlName="cMD6" #cMD6>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 7" formControlName="cMD7" #cMD7>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 8" formControlName="cMD8" #cMD8>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 9" formControlName="cMD9" #cMD9>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 10" formControlName="cMD10" #cMD10>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 11" formControlName="cMD11" #cMD11>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 12" formControlName="cMD12" #cMD12>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 13" formControlName="cMD13" #cMD13>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 14" formControlName="cMD14" #cMD14>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 15" formControlName="cMD15" #cMD15>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder=" 16" formControlName="cMD16" #cMD15>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="HepBV" placeholder="Hep. B Vaccination" formControlName="HepBV" #HepBV>
                            <mat-option class="ex-font" value="Yes">Yes</mat-option>
                            <mat-option class="ex-font" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="this.updateForm.controls.HepBV.value=='Yes'">
                        <mat-label>Vaccination Date</mat-label>
                        <input matInput [matDatepicker]="HepBVDate" formControlName="HepBVDate">
                        <mat-datepicker-toggle matSuffix [for]="HepBVDate"></mat-datepicker-toggle>
                        <mat-datepicker #HepBVDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font">
                        <mat-select name="InfV" placeholder="Influenza Vaccination" formControlName="InfV" #InfV>
                            <mat-option class="ex-font" value="Yes">Yes</mat-option>
                            <mat-option class="ex-font" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="this.updateForm.controls.InfV.value=='Yes'">
                        <mat-label>Vaccination Date</mat-label>
                        <input matInput [matDatepicker]="InfVDate" formControlName="InfVDate">
                        <mat-datepicker-toggle matSuffix [for]="InfVDate"></mat-datepicker-toggle>
                        <mat-datepicker #InfVDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="inputfield ex-font">
                        <input matInput placeholder="Other Vaccination" formControlName="otherVAC" #otherVAC>
                    </mat-form-field>
                    <br>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Progress Notes</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field appearance="fill" class="higher inputfield ex-font">
                        <mat-label>
                            <mat-icon>notes</mat-icon>
                        </mat-label>
                        <textarea matInput class="higher-text" formControlName="progNotes" #progNotes></textarea>
                    </mat-form-field>
                    <br>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Consultant Notes</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field appearance="fill" class="higher inputfield ex-font">
                        <mat-label>
                            <mat-icon>notes</mat-icon>
                        </mat-label>
                        <textarea matInput class="higher-text" formControlName="consNotes" #consNotes></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button class="main-btn next-btn" matStepperPrevious>Back</button>
                        <button mat-button class="main-btn next-btn" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel class="ex-font">Referrals</ng-template>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field appearance="fill" class="higher inputfield ex-font">
                        <mat-label>
                            (Please include: 1-Referral Hospital <br>2-Date of Referral<br>3-Reason for Referral<br>4-Referred Dr)
                        </mat-label>
                        <textarea matInput class="higher-text" formControlName="Referrals" #Referrals></textarea>
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                        <button class="main-btn update-btn" mat-button type="submit" (click)="updateP()"
                            [disabled]="updateForm.pristine || updateForm.invalid">UPDATE MEDICAL RECORD</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </mat-card>
</div>