.update-form {
    width: 100%;
    
}
.inputfield {
    width:100%;
    font-size: large;
}
.update-btn {
    width: 20%;
    height: 70px;
}
.add-btn:disabled{
    color: rgba(128, 128, 128, 0.555);
    background: #044d3291;
    color: #707070;
}
.next-btn { 
    width: 5%;
    margin-top: 50px;
    margin-right: 40px;
}
.update-btn:disabled{
    background: #044d3291;
    color: #707070;

}
.currentAcc{
    width: 30%;
    font-size: large;
}