.form-width{
  width: 500px;
}
.btn-dim{
  width: 200px;
  height: 70px;
}
.input-dim{
  width: 50%;
}
.btn-pos{
  margin-left: 150px;
  margin-top: 410px;
}
.btn-pos2{
  margin-top: 15px;
}
.main-btn:disabled{
  background: #044d3291;
  color: #707070;
}
.user-pagination /deep/ .ngx-pagination .current{
  background-color: #088156;
}