<div class="d-flex justify-content-center">
    <mat-card id="profileform-bg" class=" info-box shadow">
        <h1 class="ex-font d-flex justify-content-center">Profile Details</h1>
        <h3 class="ex-font">First Name</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.firstName}}</mat-label>
        </div>
        <h3 class="ex-font">Last Name</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.lastName}}</mat-label>
        </div>
        <h3 class="ex-font">Hospital</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.Hospital}}</mat-label>
        </div>
        <h3 class="ex-font">National ID</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.n_ID}}</mat-label>
        </div>
        <h3 class="ex-font">Contact Number</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.contactInfo}}</mat-label>
        </div>
        <h3 class="ex-font">Role</h3>
        <div class="d-flex justify-content-center">
            <mat-label class=" p-6 input-border">{{this.currUser.isAdmin? 'Administrator' : 'User' }}</mat-label>
        </div>






    </mat-card>
</div>